* {
  box-sizing: border-box;
  font-family: "AR One Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/tokyo-at-night.jpg);
  background-size: cover;
}
.header {
  display: flex;
  justify-content: center;
}
.dateBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
  width: 20vw;
  min-width: 300px;
  border-radius: 2rem;
  height: 4vh;
  font-size: 12px;
  margin-top: 30px;
}
.time-date {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  min-width: 300px;
}
.time {
  font-weight: 900;
}
.main {
}
.dashboardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(131, 131, 131, 0.753);
  width: fit-content;
  padding: 7px;
  margin: 0 auto;
  margin-top: 20vh;
  font-size: 23px;
  color: white;
  border-radius: 1rem;
}

.dashboardTitle h1 {
  min-width: 20px;
}

.dashboardBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 20px;
}
.contentBox {
  margin: 20px;
  background-color: rgba(221, 221, 221, 0.842);
  height: 40vh;
  width: 25vw;

  padding: 10px;
  border-radius: 1rem;
}
.dashboardButton {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.button {
  font-size: 30px;
  padding: 10px;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 260px;
  height: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}